td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

.selected {
    /*background-color: rgba(255, 0, 0, 0.651);*/
    background-color: #257cfd;
    color: #FFF;
}

#i_Eliminar{
    float: right;
    margin: 0px 5px 7px 5px;
}
#i_Seleccionar{
    float: right;
    margin: 0px 5px 7px 5px;
}
.derecha{
    float: right;
}

.Borde-Form{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
}
hr{
    height: 15px;
    background-color: #000;
}
.derecha{
    float: right;
}
.bg-image-principal{
    background-image: url("../img/planos.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    display: flex;
    justify-content: center;
}
.bg-logo-principal{
    /* Full height */
    height: 22%;
    
}