td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

.selected {
    background-color: rgba(255, 0, 0, 0.651);
    color: #FFF;
}

#i_Eliminar{
    float: right;
    margin: 0px 5px 7px 5px;
}
#i_Seleccionar{
    float: right;
    margin: 0px 5px 7px 5px;
}
.derecha{
    float: right;
}